### 数据库概述

数据库可以分为关系型数据库和非关系型数据库，关系型数据库仍然占据主流地位, 像是MySQL, Oracle, Microsoft Access, SQLite等都属于关系型数据库

SQLite是Python自带的一款基于内存或硬盘的，开源的，关系型的轻量级数据库，这意味着无需下载安装SQLite数据库产品和对应的数据库驱动程序，就可以被Python语言以模块导入方式直接调用使用

对关系型数据库进行读写操作，需要进行如下几个步骤：
1. 建立应用系统与数据库的连接
2. 需要建立数据库实例，通俗讲是建立一个存储数据的文件
3. 需要建立对应的表结构
4. 向表内写记录，读记录
5. 关闭与数据库的连接

##### 1.建立与SQLite数据库的连接

In [1]:
# 建立基于内存的数据库
import sqlite3
conn = sqlite3.connect(":memory:")
conn.close()

In [13]:
# 建立基于硬盘的数据库, 并建立相应的表格
import sqlite3
import os
conn = sqlite3.connect(os.path.join(os.getcwd(), "First.db"))
cur = conn.cursor()  #通过建立数据库游标对象，准备读写操作
cur.execute('Create table if not exists T_fish(date text, name text, nums int, price real, Explain text)')

cur.execute("insert into T_fish Values('2018-3-28', '黑鱼', 10, 28.3, 'Tom')")
conn.commit()
conn.close()

In [14]:
# 查找数据
import sqlite3

conn = sqlite3.connect(os.path.join(os.getcwd(), "First.db"))
cur = conn.cursor()
cur.execute('select * from T_fish')
for row in cur.fetchall():
    print(row)
conn.close()

('2018-3-28', '黑鱼', 10, 28.3, 'Tom')
('2018-3-28', '黑鱼', 10, 28.3, 'Tom')
('2018-3-28', '黑鱼', 10, 28.3, 'Tom')

In [17]:
import sqlite3
conn = sqlite3.connect(os.path.join(os.getcwd(), "First.db"))
cur = conn.cursor()
cur.execute("insert into T_fish Values('2018-3-28', '黑鱼', 10, 28.3, 'Tom')")
cur.execute("insert into T_fish Values('2018-3-29', '鲤鱼', 17, 10.3, 'John')")
cur.execute("insert into T_fish Values('2018-3-30', '鲢鱼', 9, 9.2, 'Tim')")
conn.commit()
cur.execute('select * from T_fish')
for row in cur.fetchall():
    print(row)
cur.execute('delete from T_fish where nums=10')
conn.commit()
print()
cur.execute('select * from T_fish')
for row in cur.fetchall():
    print(row)

('2018-3-29', '鲤鱼', 17, 10.3, 'John')
('2018-3-30', '鲢鱼', 9, 9.2, 'Tim')
('2018-3-29', '鲤鱼', 17, 10.3, 'John')
('2018-3-30', '鲢鱼', 9, 9.2, 'Tim')
('2018-3-28', '黑鱼', 10, 28.3, 'Tom')
('2018-3-29', '鲤鱼', 17, 10.3, 'John')
('2018-3-30', '鲢鱼', 9, 9.2, 'Tim')

('2018-3-29', '鲤鱼', 17, 10.3, 'John')
('2018-3-30', '鲢鱼', 9, 9.2, 'Tim')
('2018-3-29', '鲤鱼', 17, 10.3, 'John')
('2018-3-30', '鲢鱼', 9, 9.2, 'Tim')
('2018-3-29', '鲤鱼', 17, 10.3, 'John')
('2018-3-30', '鲢鱼', 9, 9.2, 'Tim')

关于数据库的这一节，除了已经使用的MySQL，书中后面还介绍了关于Oracle,NoSQL,MongoDB等软件的使用方法，在这里只实现Windows环境下MySQL的基本使用方法，其他数据库等到有需要的时候再进行补充

In [22]:
import pymysql
import sys
# should change the password to your password
try:
    conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd='', 
        db='fox', 
        port=3306, 
        charset='utf8')
except:
    print("fail to connect the mysql database")
    conn.close()
    sys.exit()
cur = conn.cursor()
sql = '''create table if not exists T_fish
        (date1 char(12) primary key not null,
        name char(10) not null,
        nums int not null,
        price decimal(10, 2) not null,
        sExplain varchar(200)
        );'''
# try:
#     cur.execute(sql)
#     conn.commit()
#     print("T_fish表可以使用")
# except:
#     print("fail to set up the T_fish table")
cur.execute(sql)
conn.commit()
print("T_fish表可以使用")
conn.close()

T_fish表可以使用

In [24]:
import pymysql
import sys
try:
    conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd='',
        db='fox', 
        port=3306, 
        charset='utf8')
except:
    print("fail to connect the mysql database")
    conn.close()
    sys.exit()
cur = conn.cursor()
insertSQL = "insert into T_fish values('2018-3-28', '黑鱼', 10, 28.3, 'Tom')"
insertSQL1 = "insert into T_fish values('2018-3-29', '鲤鱼', 25, 9.8, 'John')"
try:
    cur.execute(insertSQL)
    cur.execute(insertSQL1)
    conn.commit()
    print("有两条记录插入成功!")
except:
    print("有两条记录插入失败!")
    conn.close()
    sys.exit()
updateSQL = "update T_fish set nums=12 where date1='2018-3-28'"
try:
    cur.execute(updateSQL)
    conn.commit()
    print("第一条纪录修改成功")
except:
    print("第一条记录修改失败")
    conn.close()
    sys.exit()

有两条记录插入成功!
第一条纪录修改成功